{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P3 Coloring</title>
    
    <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
    
    <style type="text/css">
        #color-palette {
            width: 300px;
            background-color: #f1f1f1;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
        }
        
        .swatch {
            width: 24px;
            height: 24px;
            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;
            margin: 3px;
        }
        
        #myCanvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    
    <script type="text/javascript" canvas="canvas">
        
        
        window.onload = function() {
            var canvas = document.getElementById('myCanvas');
            
            // coloring page
            var mandala = {
                item: null,
                lastClicked: null,
                filePath: '/static/coloring/images/mandala-freepik.svg'
            };
            
            // color palette
            var cp = {
                history: ["#000000"], // black selected by default
                options: [],
                $container: $('#color-palette')
            }
            
            function myCustomInteraction() {
                var tool = new paper.Tool();
                
                tool.onMouseDown = function (event) {
                    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
                    if (hit) {
                        // Color pallette keeps track of the full history of colors, though we
                        // only color in with the most-recent color.
                        hit.item.fillColor = cp.history[cp.history.length - 1];
                    }
                }
            }
            
            // create a color palette with the given colors
            function createColorPalette(colors){
                
                // create a swatch for each color
                for (var i = colors.length - 1; i >= 0; i--) {
                    var swatch = jQuery('container').css("background-color", colors[i])
                        .addClass("swatch");
                        jQuery(swatch).click(function(){
                            // add color to the color palette history
                            cp.history.push(this.css("background-color"));
                        });
                        jQuery('container').append(swatch);
                    }
                }
                
                // loads a set of colors from a json to create a color palette
                function getColorsCreatePalette(){
                    cp.$container.html(" ");
                    $.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
                        var keys = Object.keys(colors);
                        for (var i = keys.length - 1; i >= 0; i--) {
                            cp.options.push(colors[keys[i]][500]);
                        }
                        createColorPalette(cp.options);
                    });
                }
                
                function init(custom){
                    paper.setup(canvas);
                    getColorsCreatePalette();
                    
                    paper.project.importSVG(mandala.filePath, function(item) {
                        mandala.item = item._children["design-freepik"];
                        paper.project.insertLayer(0,mandala.item);
                        
                        if (custom) {
                            myCustomInteraction();
                        } else {
                            myGradientInteraction();
                        }
                        
                    });
                }
                
                // Set up the mandala interactivity.
                init(true);
            }
            
            
        </script>
    </head>
    <body>
        <main role="main" class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col">
                        <div id="color-palette"></div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Launch demo modal
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <canvas id="myCanvas" width="750px" height="750px"></canvas>
                    </div>
                </div>
            </div>
            
            
            <!-- Advanced tools carosel adapted from https://getbootstrap.com/docs/4.0/components/carousel/ -->
            <div id="advancedTools" class="row" style="visibility: hidden;">
                <div class="col">
                    <img class="d-block w-100" src="/static/coloring/images/tools.jpg">
                </div>
            </div>
            <div id="toolsCarousel" class="carousel slide" data-ride="carousel" style="visibility: hidden;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/static/coloring/images/pastels.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/static/coloring/images/pencils.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/static/coloring/images/watercolors.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>	
        </main>
        <!-- <canvas id="myCanvas" width="750px" height="750px"></canvas>
        <div id="color-palette"></div> -->
    </body>
    </html>