{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P3 Coloring</title>
    
    <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
    


    <style type="text/css">
        #color-palette {
            width: 300px;
            background-color: #f1f1f1;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
        }
        
        .swatch {
            width: 24px;
            height: 24px;
            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px;
            margin: 3px;
        }
        
        #myCanvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    
    <script type="text/javascript" canvas="canvas">
        window.onload = function() {
            
            var canvas = document.getElementById('myCanvas');
            
            // coloring page
            var mandala = {
                item: null,
                lastClicked: null,
                filePath: '/static/coloring/images/mandala-freepik.svg'
            };
            
            // color palette
            var cp = {
                history: ["#000000"], // black selected by default
                options: [],
                $container: $('#color-palette')
            }
            
            function myCustomInteraction() {
                var tool = new paper.Tool();
                
                tool.onMouseDown = function (event) {
                    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
                    if (hit) {
                        // Color pallette keeps track of the full history of colors, though we
                        // only color in with the most-recent color.
                        
                        hit.item.fillColor = cp.history[cp.history.length - 1];
                        console.log("hit item is: " + hit.item)
                        console.log("hit item is: " + cp.history)
                        history.saveState(canvas);
                    }
                }
            }
            
            // create a color palette with the given colors
            function createColorPalette(colors){
                
                // create a swatch for each color
                for (var i = colors.length - 1; i >= 0; i--) {
                    var $swatch = $("<div>").css("background-color", colors[i])
                        .addClass("swatch");
                        $swatch.click(function(){
                            // add color to the color palette history
                            console.log(" cp.history.push($(this)" +  cp.history)
                            console.log("$(this)" + $(this))
                            cp.history.push($(this).css("background-color"));
                        });
                        cp.$container.append($swatch);
                    }
                }
                
                // loads a set of colors from a json to create a color palette
                function getColorsCreatePalette(){
                    cp.$container.html(" ");
                    $.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
                        var keys = Object.keys(colors);
                        for (var i = keys.length - 1; i >= 0; i--) {
                            cp.options.push(colors[keys[i]][500]);
                        }
                        createColorPalette(cp.options);
                    });
                }
                
                function init(custom){
                    paper.setup(canvas);
                    getColorsCreatePalette();
                    
                    paper.project.importSVG(mandala.filePath, function(item) {
                        mandala.item = item._children["design-freepik"];
                        paper.project.insertLayer(0,mandala.item);
                        
                        if (custom) {
                            myCustomInteraction();
                        } else {
                            myGradientInteraction();
                        }
                        
                    });
                }
                
                // Set up the mandala interactivity.
                init(true);
                
                
                var tool;
                //var canvas = document.getElementById('myCanvas');
                var ctx = canvas.getContext('2d');
                
                var history = {
                    redo_list: [],
                    undo_list: [],
                    mandala_undo: [],
                    mandala_redo:[],
                    saveState: function(canvas, list, keep_redo) {
                        console.log("state saved!")
                        console.log("mandala item is " + mandala.item._children)
                        console.log("mandala " + mandala)
                        keep_redo = keep_redo || false;
                        if(!keep_redo) {
                            this.redo_list = [];
                        }
                        
                        (list || this.undo_list).push(canvas.toDataURL());   
                    },
                    undo: function(canvas, ctx) {
                        console.log("the undo list has :" + this.undo_list.length)
                        this.restoreState(canvas, ctx, this.undo_list, this.redo_list);
                    },
                    redo: function(canvas, ctx) {
                        this.restoreState(canvas, ctx, this.redo_list, this.undo_list);
                    },
                    restoreState: function(canvas, ctx,  pop, push) {
                        if(pop.length) {
                            
                            console.log("in restoreState")
                            var restore_state = pop.pop();
                            var img = document.createElement('img')
                            img.src = restore_state;
                            //var img = new Element('img', {'src':restore_state});
                            img.onload = function() {
                                ctx.clearRect(0, 0, 750, 750);
                                ctx.drawImage(img, 0, 0, 750, 750, 0, 0, 750, 750);  
                            }
                            this.saveState(canvas, push, true);
                        }
                    }
                }
                
                document.getElementById('undo').addEventListener('click', function() {
                    history.undo(canvas, ctx);
                });
                
                document.getElementById('redo').addEventListener('click', function() {
                        history.redo(canvas, ctx);
                    });
                    
                    
                    
                }
            </script>
        </head>
        <body>
            <main role="main" class="container">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col">
                            <div id="color-palette"></div>
                        </div>
                        
                        <div class="col">
                            <div class="col">
                                <!-- UNDO AND REDO BUTTONS -->
                                <img class="controller" id="undo" style="width: 30px; height: 30px;" src="/static/coloring/images/undo.png">
                            </div>
                            <div class="col">
                                <img class="controller" id="redo" style="width: 30px; height: 30px;" src="/static/coloring/images/redo.png">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <canvas id="myCanvas" width="750px" height="750px"></canvas>
                        </div>
                    </div>
                </div>
                
                
                <!-- Advanced tools carosel adapted from https://getbootstrap.com/docs/4.0/components/carousel/ -->
                <!-- <div id="advancedTools" class="row" style="visibility: hidden;">
                    <div class="col">
                        <img class="d-block w-100" src="/static/coloring/images/tools.jpg">
                    </div>
                </div>
                <div id="toolsCarousel" class="carousel slide" data-ride="carousel" style="visibility: hidden;">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/static/coloring/images/pastels.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/coloring/images/pencils.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/coloring/images/watercolors.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>	 -->
            </main>
            
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script type="text/javascript"
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script> -->
<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"
></script>
<script type="text/javascript"
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"
></script>
            
        </body>
        </html>
        